.about-page {
  max-width: 1200px; /* Restrict maximum width */
  margin: 20px auto; /* Ensure the 20px margin around the entire perimeter */
  padding: 40px 80px; /* Add padding for spacing */
  text-align: left; /* Center-align the text */
  /* background-color: #ffffff;  */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  /* background-color: #00c7eb; */
  border: 1px solid #c3c3c3; /* Add the desired border */
  color: #000;
}

.about-page h1 {
  /* color: #00c7eb;  */
  color: #00c7eb; /* Blue color for headings */
  font-size: 2rem; /* Large font size */
  margin-bottom: 20px; /* Space below the heading */
}

.about-page p {
  font-size: 18px; /* Larger font size for readability */
  line-height: 1.6; /* Space between lines */
  color: #000; /* Subtle gray for text */
  margin-bottom: 15px; /* Space between paragraphs */
}

/* Centered logo container */
.about-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo styling */
.about-logo {
  width: 100px; /* Adjust size as needed */
  height: auto;
}

/* Responsive styles for About page */
@media (max-width: 768px) {
  .about-page {
    padding: 40px; /* Reduce padding on smaller screens */
    text-align: left; /* Align text to the left for better readability */
    width: 90%;
    margin-top: -40px;
  }

  .about-page h1 {
    font-size: 1.8rem; /* Slightly smaller font size for headings */
  }

  .about-page p {
    font-size: 16px; /* Adjust text size for smaller screens */
  }
}
