.about-page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #c3c3c3;
  border-radius: 8px;
  color: #000;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.about-page h1 {
  color: #00c7eb;
  font-size: 2.5rem;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.about-page p {
  font-size: 1rem;
  line-height: 1.7;
  color: #4a4a4a;
  margin-bottom: 25px;
  letter-spacing: 0.1px;
}

.about-page ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px; /* Adds space before the list */
}

.about-page li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 30px;
}

.about-page li::before {
  content: none;
}

.about-page .pay-per-use {
  font-size: 1rem; /* Reset to match general text size */
  font-weight: bold; /* Emphasize this key information */
  color: #4a4a4a;
  background-color: #e6f9ff; /* A lighter shade of blue for contrast */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #00c7eb; /* Adds a border for visual separation */
}

.about-page .privacy-notice {
  font-size: 0.8rem; /* Keep smaller for fingerprint effect */
  color: #666; /* Lighter text for less prominence */
  line-height: 1.5;
  background-color: #f2f2f2; /* Light gray background for subtlety */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #c3c3c3; /* Matches the page border for cohesion */
}

.about-page strong {
  color: #000;
  /* color: #00c7eb; */
}

.about-logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.about-logo {
  max-width: 150px;
  height: auto;
}

@media (max-width: 1200px) {
  .about-page {
    padding: 20px;
    margin: 20px 40px;
    margin-top: -40px;
  }

  .about-page h1 {
    font-size: 2rem;
    letter-spacing: -0.3px;
    margin-bottom: 20px;
  }

  .about-page p {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 20px;
    letter-spacing: 0;
  }

  .about-page .pay-per-use,
  .about-page .privacy-notice {
    font-size: 0.9rem; /* Adjust for mobile readability */
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .about-page {
    padding: 20px;
    margin: 20px 20px;
    margin-top: -40px;
  }

  .about-page h1 {
    font-size: 2rem;
    letter-spacing: -0.3px;
    margin-bottom: 20px;
  }

  .about-page p {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 20px;
    letter-spacing: 0;
  }

  .about-page .pay-per-use,
  .about-page .privacy-notice {
    font-size: 0.9rem; /* Adjust for mobile readability */
    padding: 10px;
  }
}
