.about-page {
  max-width: 1200px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #c3c3c3;
  border-radius: 8px;
  color: #333; /* Darker text for better readability */
  font-family: "Helvetica Neue", Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds depth, making the content area pop out */
}

.about-page h1 {
  color: #00c7eb;
  font-size: 2.5rem;
  margin-bottom: 30px; /* More space for breathing room */
  text-align: center;
  font-weight: 700; /* Bold for emphasis */
  letter-spacing: -0.5px;
}

.about-page p {
  font-size: 1.1rem; /* Slightly larger for better readability */
  line-height: 1.8; /* More line height for comfortable reading */
  color: #4a4a4a;
  margin-bottom: 20px;
  letter-spacing: 0.1px;
}

.about-page ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 25px; /* More space before list items */
}

.about-page li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 25px;
}

.about-page li::before {
  content: "•"; /* Add bullet points visually */
  position: absolute;
  left: 0;
  color: #000; /* Match with the brand color */
  /* color: #00c7eb;  */
}

.about-page .pay-per-use {
  font-size: 1rem;
  font-weight: 600; /* Slightly less bold to not overshadow the content */
  color: #4a4a4a;
  background-color: #e6f9ff;
  padding: 20px; /* More padding for visual emphasis */
  margin-bottom: 25px;
  border-radius: 8px;
  border: 1px solid #00c7eb; /* Thicker border for more visual impact */
}

.about-page .privacy-notice {
  font-size: 0.9rem; /* Slightly larger for better readability */
  color: #666;
  line-height: 1.6;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 8px;
  border: 1px solid #c3c3c3;
}

.about-page strong {
  color: #000; /* Black for strong emphasis */
  font-weight: 600; /* Ensure strong text is bold */
}

.about-logo-container {
  text-align: center;
  margin-bottom: 30px; /* More space for visual balance */
}

.about-logo {
  max-width: 200px; /* Larger logo for more brand presence */
  height: auto;
}

@media (max-width: 1200px) {
  .about-page {
    margin: 60px 20px;
  }

  .about-page h1 {
    font-size: 2rem;
    letter-spacing: -0.3px;
    margin-bottom: 25px; /* Consistent space */
  }

  .about-page p,
  .about-page .pay-per-use,
  .about-page .privacy-notice {
    font-size: 1rem; /* Keep text readable on smaller screens */
    line-height: 1.7;
  }

  .about-page .pay-per-use,
  .about-page .privacy-notice {
    padding: 15px; /* Smaller padding for mobile */
  }
}
