.footer {
  background-color: #00d9ff;
  color: #555555;
  text-align: center;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 500;
  border-top: 1px solid #00d9ff;
  border-right: 1px solid #00d9ff;
  border-left: 1px solid #00d9ff;
  /* border-top-right-radius: 10px;
  border-top-left-radius: 10px; */
  width: 100%;
}

/* Flex container for text */
.footer-SpectrumGuideInfo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Adds spacing between elements */
  margin: 0px 150px 0px 150px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Adds spacing between elements */
  margin-top: 40px;
  /* margin-bottom: 20px; */
}

/* Brand Name */
.brand-name {
  font-weight: bold;
}

/* Founder Credit */
.founder {
  font-size: 12px;
  color: #555555;
  margin: 0;
}

/* Centered logo container */
.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo styling */
.footer-logo {
  width: 50px; /* Adjust size as needed */
  height: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer {
    font-size: 13px;
    padding: 12px;
    width: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  /* Stack elements vertically on mobile */
  .footer-content {
    flex-direction: column;
    gap: 5px; /* Reduce spacing between elements */
    margin-top: 20px;
  }
  .founder {
    margin-top: -10px;
  }
  .footer-SpectrumGuideInfo-content {
    margin: 0px 20px 0px 20px;
  }
}
