.interactive-hub {
  max-width: 1200px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #c3c3c3;
  border-radius: 8px;
  color: #000;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.interactive-hub h1 {
  color: #00c7eb;
  font-size: 2.5rem;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.interactive-hub p {
  font-size: 1rem;
  line-height: 1.7;
  color: #4a4a4a;
  margin-bottom: 25px;
  letter-spacing: 0.1px;
}
.feature {
  text-align: center;
}
.feature-description {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.user-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group select,
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

.form-group select[multiple] {
  height: auto;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #00c7eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #00a3c2;
}

.ai-response {
  background-color: #e6f9ff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #00c7eb;
}

.communication-section,
.education-section,
.schedule-section {
  margin-bottom: 20px;
}

.communication-section h3,
.education-section h3,
.schedule-section h3 {
  color: #00c7eb;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.schedule-section ul {
  list-style-type: none;
  padding-left: 0;
}

.schedule-section li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.schedule-section li::before {
  content: "\f017"; /* FontAwesome clock icon */
  font-family: "FontAwesome";
  position: absolute;
  left: 0;
  color: #4a4a4a;
}

@media (max-width: 1200px) {
  .interactive-hub {
    margin: 60px 20px;
    padding: 20px;
  }
  .user-form {
    margin: 0px;
  }

  .interactive-hub h1 {
    font-size: 2rem;
    letter-spacing: -0.3px;
    margin-bottom: 10px;
  }

  .interactive-hub p {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 10px;
    letter-spacing: 0;
  }

  .form-group select,
  .form-group input {
    font-size: 0.9rem;
    padding: 8px;
  }

  .ai-response {
    font-size: 0.9rem;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .interactive-hub h1 {
    font-size: 1.8rem;
  }

  .form-group select,
  .form-group input {
    font-size: 0.9rem;
    padding: 8px;
  }

  .ai-response {
    font-size: 0.9rem;
    padding: 15px;
  }
  .feature-description li {
    font-size: 0.9rem;
  }
}
