.main-page {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 40px;
  margin-left: 40px;
}

@media (max-width: 768px) {
  .main-page {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: -60px;
  }
}
